.header {
	text-align: center;
}

/* Carousel*/
#carousel {
	padding: 10px 10px;
	margin: 10px 30px;
}

/* /Carousel*/
/* Icon */
a {
	text-decoration: none;
}
h2:hover {
	color: cyan;
}

.social {
	text-align: center;
}
.fa {
	padding: 2px 2px 2px 2px;
}
.fa-stack {
	text-decoration: none;
	color: #fff;	
}

.fa-phone:hover{
	color: #1DD300;	
}

#facebook {
	color: #0054A6;
}

.fa-facebook:hover {
	color: #9197a3;
}

#vk {
	color: #36638E;
}

.fa-vk:hover {
	color: #ddd;
}

#telegram {
	color: #3ca2d9;
}

.fa-paper-plane-o:hover {
	color: #bbb;
}

.btn-link:hover,
.btn-lonik:focus {
	text-decoration: none;
}

/* /Icon*/


h2 {
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.btn {
	color: #fff;
}

p {
	text-align: justify;
	font-size: 20px;
}